<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/account_register_style.css}">
  <title>登録画面</title>

</head>

<body>
  <html>
  <body>
    <main>
      <div class="main">
        <p class="sign" align="center">登録画面</p>
        <form class="form1" th:action="@{/account/register/process}" method="post">
          <div>
            <p align="center">ユーザーネーム</p>
            <input class="Username" type="text" align="center" placeholder="Username" name="accountName"
              id="accountName" required>
          </div>
          <div>
            <p align="center">メールアドレス</p>
            <input class="E-mail" type="text" align="center" placeholder="E-mail" name="accountEmail" id="accountEmail" required>
          </div>
          <div>
            <p align="center">パスワード</p>
            <input class="Password" type="password" align="center" placeholder="Password" name="password"
              id="password" required>
          </div>
          <div>
            <button class="register" align="center">登録</button>
          </div>
        </form>
      </div>
    </main>

  </body>
  </html>
</body>

</html>